<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tipepe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2C859C301E1F6E6D00D2C6D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C859C441E1F6E7A00D2C6D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C859C4F1E1F6E7A00D2C6D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
